<?xml version="1.0"?>
<config>
    <modules>
        <VS7_SaleAttribute>
            <version>0.2.0</version>
        </VS7_SaleAttribute>
    </modules>
    <global>
        <models>
            <vs7_saleattribute>
                <class>VS7_SaleAttribute_Model</class>
                <resourceModel>vs7_saleattribute_resource</resourceModel>
            </vs7_saleattribute>
            <vs7_saleattribute_resource>
                <class>VS7_SaleAttribute_Model_Resource</class>
                <entities>
                    <category>
                        <table>vs7_saleattribute_category</table>
                    </category>
                </entities>
            </vs7_saleattribute_resource>
        </models>
        <resources>
            <vs7_saleattribute_setup>
                <setup>
                    <module>VS7_SaleAttribute</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </vs7_saleattribute_setup>
            <vs7_saleattribute_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </vs7_saleattribute_write>
            <vs7_saleattribute_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </vs7_saleattribute_read>
        </resources>
        <blocks>
            <vs7_saleattribute>
                <class>VS7_SaleAttribute_Block</class>
            </vs7_saleattribute>
            <amshopby>
                <rewrite>
                    <catalog_layer_view>VS7_SaleAttribute_Block_Catalog_Layer_View</catalog_layer_view>
                </rewrite>
            </amshopby>
        </blocks>
        <helpers>
            <vs7_saleattribute>
                <class>VS7_SaleAttribute_Helper</class>
            </vs7_saleattribute>
        </helpers>
    </global>
    <frontend>
        <translate>
            <modules>
                <VS7_SaleAttribute>
                    <files>
                        <default>VS7_SaleAttribute.csv</default>
                    </files>
                </VS7_SaleAttribute>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <events>
            <adminhtml_catalog_category_tabs>
                <observers>
                    <vs7_saleattribute_tabs>
                        <type>singleton</type>
                        <class>VS7_SaleAttribute_Model_Observer</class>
                        <method>addTab</method>
                    </vs7_saleattribute_tabs>
                </observers>
            </adminhtml_catalog_category_tabs>
            <catalog_category_prepare_save>
                <observers>
                    <vs7_saleattribute_category>
                        <type>singleton</type>
                        <class>VS7_SaleAttribute_Model_Observer</class>
                        <method>saveCategory</method>
                    </vs7_saleattribute_category>
                </observers>
            </catalog_category_prepare_save>
        </events>
        <translate>
            <modules>
                <VS7_SaleAttribute>
                    <files>
                        <default>VS7_SaleAttribute.csv</default>
                    </files>
                </VS7_SaleAttribute>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <vs7_saleattribute translate="title" module="vs7_saleattribute">
                                            <title>VS7 Sale Attribute Section</title>
                                            <sort_order>400</sort_order>
                                        </vs7_saleattribute>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>